<?xml version="1.0" encoding="utf-8"?><!--   ~ Copyright (c) Roman Tsovanyan -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.tsov.plananddopro">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pro.tsov.plananddopro.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pro.tsov.plananddopro.EditEventActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="pro.tsov.plananddopro.TrackEventActivity"
            android:label="@string/app_name"></activity>

        <receiver
            android:name="pro.tsov.plananddopro.TrackWidget"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata"></meta-data>
        </receiver>

        <service
            android:name="pro.tsov.plananddopro.TrackService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <receiver
            android:name="pro.tsov.plananddopro.TrackAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="pro.tsov.plananddopro.ACTION_SET_TODAY_ALARMS"></action>
                <action android:name="pro.tsov.plananddopro.ACTION_SET_TODAY_COMPLETE"></action>
                <action android:name="pro.tsov.plananddopro.ACTION_SET_TODAY_CANCEL"></action>
            </intent-filter>
        </receiver>

        <service
            android:name="pro.tsov.plananddopro.TrackAlarmService"
            android:enabled="true"
            android:exported="false"></service>

    </application>

</manifest>
